<main>
  Good day, <%= locals.username %>!<br />
  You have been registered on the website<br />
  To complete your registration, please click on
  <a href="<%= locals.urlConfirmAddress %><%= locals.id %>">link</a>.
</main>
